*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="radio"]{
    display: none;
}
.estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
  }

.estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }